Source: gotify-indicator
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.atareao.es

Package: gotify-indicator
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python3,
    python3-pydub,
    gir1.2-gtk-3.0,
    gir1.2-glib-2.0,
    gir1.2-gdkpixbuf-2.0,
    gir1.2-appindicator3-0.1,
    gir1.2-notify-0.7
Description: Recieve Gotify notifications on your PC
 Gotify is a server that can send and recieve messages. It works as a push
 notifications server. With Gotify-Indicator you can send and recieve messages
 directly from your computer. So you can send messages to other devices that
 are connected to the same server.
